<footer>
    <p>Created by<a href="https://stefanovolpatti.com/">{{name}}</a> <a href="https://github.com/volp99"><i class="fab fa-github fa-2x"></i></a> <a href="https://www.linkedin.com/in/stefano-volpatti-039693132/"><i class="fab fa-linkedin fa-2x"></i></a> </p>
</footer>
