<footer>
    <p>Created by {{name}} <a href="https://github.com/volp99"><i class="fab fa-github"></i></a> <a href="https://www.linkedin.com/in/stefano-volpatti-039693132/"><i class="fab fa-linkedin"></i></a> </p> 
</footer>
